body {
    font-family: Arial, bold; 
}

table {
    width: 600px;
    background: #676767;
}

.scoreDisplay {
    width: 450px;
}

.smallWidth {
    width: 250px;
}

.bigWidth {
    width: 800px;
}

td {
    height: 52px;
    font-size: 36px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

th {
    font-size: 24px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.nametag {
    font-size: 28px;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-shadow: none;
    border: 1px solid;
    text-align: center;
    background: #fff;
}

select, button, input {
    font-size: 24px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.roundtable {
    background: #aa3333;
}

.dealerInd {
    color: yellow;
}
